 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:wght@300;400;700;800&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Poppins:wght@500;600;700&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
*{
font-family: 'Mulish', sans-serif;
margin: 0;
padding: 0;

}
/* navbar styles */
nav{
  margin: 3.1rem 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 1rem ;
 
}
.nav-logo h3 .span-1{
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;

}
.nav-logo h3 .span-2{
  color: #FF5400;
  font-size: 2.25rem;
  font-weight: 800;
}
nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  font-weight: 700;
  font-size: 1.1rem; 
  margin-left: 2rem;
 
} 
nav ul li a{
  text-decoration: none;
  color: #424247;
  }
  nav ul .nav-home{
    color: #FF5400;
  }
  /* nav style completed */